.nav.container {
    display: flex;
    height: 20%;
    width: 100%;
}
.desktop-nav {
    position: fixed;
    background: cyan;
    width: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}
.nav-link {
    height: 100%;
    font-size: 2em;
    color: #fff;
}
.nav-link:first-child {
    grid-column: 3/3;
}
.nav-link:nth-child(2) {
    grid-column: 4/4;
}
.nav-link:nth-child(3) {
    grid-column: 5/5;
}
.nav-link:nth-child(4) {
    grid-column: 6/6;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link:nth-child(4) > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-image {
    height: 75%;
    padding: 5%;
    width: 30%;
    border-radius: 50%;
}